.box {
    margin-bottom: 8px;
}
* {
    font-family: verdana;
}
.box div {
    display: inline-block;
    vertical-align: top;

}
.box a img {
    width: 100px;
}

.box div:nth-child(1) {
    color: #A8FF60;

}

.box div:nth-child(3) {
    color: #8EB0D2;
    text-overflow: ellipsis;
}
.box div p {
    margin: 0;
}
nav {
    margin-bottom: 20px;
}
body {
    background-color: #171916;
}
.box:nth-child(2n) {
    background-color: #373737;
}
